
.container {
    width: 100%;
    margin: auto;
    background-image: url("././images/light-grey-terrazzo.png");
    padding-bottom: 15%;
    padding-top: 1%;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
}
.photo {
    width:  300px;
    height: 200px;
}

.navbar {
    min-width: 100%;
    background-color: #ffffff;
    margin: auto;
    padding-right: 0px;
    display: flex;
}
.toplink {
    float: right;
}
.row {
    width: 960px;
    border-color: #dddddd;
    display: flex;
    margin-left: 0%;
}

.col-sm-2 {
    background-color: #4aaaa5;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.nav-link {
    color: #777777;
}
.section {
    background-color:#ffffff;
    border-color: rgb(228, 228, 223);
    color: #777777;
    max-width: 960px;
    margin: auto;
    padding-right: 2%;
    padding-bottom: 12%;
    padding-left: 2%
}
.title {
    border-color: #cccccc;
    padding-top: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

.line {
    border-top: 4px solid gray;
    margin-left: 1%;
    margin-right: 1%;
}

.bottomrow {
    background-color: #666666;
    height: 55px;
    border-top: 5px solid #4aaaa5;
    padding-top: 5px;
    color: #777777;
    max-width: 100%;
    margin: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.author-image{
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}


@media only screen and (max-width: 980px) {
    .section {
        width: 70%;
        margin-left: 0;
    }
    .photo {
        width: 270px;
        height: 170px;
    }
}
@media only screen and (max-width: 768px) {
    .section {
        width: 100%;
        margin-left: 0;
    }
    .toplink {
        float: right;
    }

}
@media only screen and (max-width: 640px) {
    .section {
        width: 100%;
        margin-left: 0;
    }
    .row {
        flex-direction: column;
        margin-left: -3%;
    }
    .custom {
        max-width: 100%;
        margin: 0;
    }
    .col-sm-10 {
        max-width: 100%;
    }
    .toplink {
        float: none;
        justify-content: center;
    }
}